<div class="content-wrapper">
  <div class="content">
    <div class="">
<div class="card card-info">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-3">
         <h3 class="card-title">FRIGAN 5057</h3>
      </div>
      <div class="col-sm-6 text-center" style="display: grid;">
        <h1 class="card-title"><strong>Validation DCResp.LF -Produit-</strong></h1>
     </div>
     <div class="col-sm-3 text-center" style="display: grid;">
      <h3 class="card-title">N°Dossier: CLBIA-25974-0719</h3>
   </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-2">
        <label>Emetteur:</label> Mohamed Khelil
      </div>
      <div class="col-sm-2">
        <label>Récepteur:</label> Ahmed Henchiri
      </div>
      <div class="col-sm-2">
        <label>Date de réception:</label> 20/02/2020
      </div>
      <div class="col-sm-2">
        <label>Date d'échéance:</label> 20/02/2021
      </div>
      <div class="col-sm-2 text-center">
        <table style="border: 1px solid black; margin: 0px !important;" >
          <tr style="border: 1px solid black;">
            <th class="text-white" style="background-color: blue; border: 1px solid black;">R</th>
            <th class="text-white" style="background-color: green; border: 1px solid black;">P</th>
            <th class="text-white" style="background-color: red; border: 1px solid black;">E</th>
          </tr>
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">50</td>
            <td style="border: 1px solid black;">2</td>
            <td style="border: 1px solid black;">10</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-2">
        <label>Age:</label> 25
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>