<div class="content-wrapper">
  <div class="content">
    <div class="container-fluid ">
  <div class="card card-primary">
    <div class="card-header text-center" style="height: 50px;">
      <h3>Informations Parties</h3>
    </div>
    <div class="card-body">
      <form role="form">
        <div class="row">
          <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group text-center">
              <label>Partie 1</label>
              <input type="text" class="form-control" placeholder="Groupe" readonly>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group text-center">
              <label>Partie 2</label>
              <input type="text" class="form-control" placeholder="Hors Groupe" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <!-- text input -->
            <div class="form-group text-center">
              <label>Choisir un groupe</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">
            <div class="form-group text-center">
              <label>Nom Locataire</label>
              <input type="text" class="form-control" placeholder="Ahmed Issa">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <!-- text input -->
            <div class="form-group text-center">
              <label>Status Occupant</label>
              <input type="text" class="form-control" placeholder="Proprietaire">
            </div>
          </div>
          <div class="col-sm-2">

          </div>
          <div class="col-sm-5">
            <div class="form-group text-center">
              <label>Status Occupant</label>
              <input type="text" class="form-control" placeholder="Locataire">
            </div>
          </div>
        </div>
      </form>
      <div class="dropdown-divider"></div>
      <table class="table table-bordered">
        <thead class="thead-info text-center text-white" style="background-color: #17a2b8;">
        <tr>
          <th>Client</th>
          <th>Nom</th>
          <th>Assujeti</th>
          <th>Banque</th>
          <th>Agence</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Opérations</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>F0056</td>
          <td>Mohamed Khelil</td>
          <td>Oui</td>
          <td>Amen Bank</td>
          <td>Manzah</td>
          <td>Manzah 7</td>
          <td>55262572</td>
          <td style="width: 180px!important">
            <button class="btn btn-danger ">
            <span class="far fa-trash-alt"></span>
            </button>
        </td>
        </tr>
      </tbody>
      </table>
      <div class="dropdown-divider"></div>
    </div>
    </div>
  </div>
</div>
